*{
    margin:0px;
    padding:0px;
}
body{
    font-family: 'poppins',sans-serif;
}
.container{
    width: 100%;
    background-color: rgb(8, 8, 8);
    height: 900px;
    color: white;
   
}
.container small{
    color: white;
    text-align: center;
    font-size: 20px ;
    padding-left: 10%;
}
.container h1{
   margin-left: 10%;
   margin-top:10px;
   font-size: 100px;
}
h4{
    font-size:50px;
    margin-left: 10%;
    margin-top:10px;
}
ul{
    font-size:30px;
    margin-left: 10%;
    margin-top:10px;

}
ul li{
    display: inline-block;
    list-style-type:circle;
    color: aqua;
    margin: 10px;
}
.profile{
    width: 500px;
    height: 500px;
    box-sizing: border-box;
    border-radius: 50%;
    margin-left: 60%;
    margin-top:-460px;
}

.small-container{
    width: 100%;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    background-color:goldenrod;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color:black;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.title:after{
    content: '';
    background: #ff523b;
    width:80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%);
}

.row img{
    margin-top:20px;
    box-sizing: border-box;
    border-radius:50%;
    margin-left: 40px;
}

.Education{
    width: 100%;
    background:linear-gradient(to bottom, rgb(221, 97, 14),white);
    height: 800px;
}

.div{
    border-left: 6px solid #C0392B;
    height: 320px;
    position: absolute;
    left:50%;
  
}

.div big{
   color:#4A235A;
   border:2px solid #4A235A;    
   padding: 20px;
   margin-left: 300px;
   font-size: 30px;
   font-family:'Times New Roman', Times, serif;   
}
.div p{
   color:#4A235A;  
   margin-left: 200px;
   margin-top:50px;
   padding: 20px;
   font-size: 20px;
   font-family:'Times New Roman', Times, serif;   
}

.Education h4{
    color: #255312;
    font-size:40px;
    margin-left: 200px;
}
.Education h5{
    color: #ff9407;
    font-size:40px;
    margin-left: 300px;
    margin-top: 50px;
}
.Education p{
    font-size:40px;
    margin-left: 200px;
    margin-top: 50px;
}
.location{
    margin-left: 50%;
}
.container h6{
    font-size:100px;
    padding-left: 10px;
    margin-top:-300px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.footer{
    width: 100%;
    height: 100px;
    background-color: rgb(8, 8, 8);
}
.footer hr{
    background: #b5b5b5;
}
.footer p{
    color: white;
    margin: 30px;
    text-align: center;
   
}